<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}<!--title-->{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/style.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="content">
        {% block content %}
        <!-- Content will be inserted here -->
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>
