{% extends 'base.html' %}

{% block title %}Marc's HTML Study{% endblock %}

{% block content %}

<h1>Marc's study web-app for HTML5 certification</h1>
<div class="landing-page-body question-body">
The <a href="https://html5exam.jp/">HTML5 Professional Certification</a>, also known as HTML5プロフェッショナル認定試験, is a certification designed to assess and validate one's skills in HTML5 and related web technologies. The certification is divided into two levels: Level 1 and Level 2.

Level 1:

Focus: This level covers the basics of HTML5, CSS3, and responsive web design.

Exam Details: The exam consists of approximately 60 questions and takes about 90 minutes to complete. It is administered as a computer-based test (CBT), primarily involving multiple-choice and some short answer questions.

Study Period: The typical study period is about 3 to 6 months.

Requirements: There are no prerequisites for taking the Level 1 exam.

Cost: ¥16,500 (tax included)

I built this with Django.

<span style='font-size:2em;'>&#128221;</span><a href="https://marccocchio.medium.com/studying-for-the-japanese-html5-professional-certification-by-creating-a-django-app-6c9eb6b45cba">Project notes.</a>
</div>
{% endblock %}