<nav>
    <ul class="nav">
        <li class="nav">
            <a href="{% url 'questions:add' %}" class="{% if request.resolver_match.url_name == 'add' %}active{% endif %}">➕</a>
        </li>
        <li class="nav">
            <a href="{% url 'questions:allvocab' %}" class="{% if request.resolver_match.url_name == 'allvocab' %}active{% endif %}">🇯🇵</a>
        </li>
        <li class="nav">
            <a href="{% url 'questions:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">📖</a>
        </li>
        <li class="nav">
            <a href="{% url 'landing_page' %}" class="{% if request.resolver_match.url_name == 'landing_page' %}active{% endif %}">🏠</a>
        </li>
    </ul>
</nav>
